.page-header {
  .gravatar {
    margin-right: 10px;
  }
}

#new_txn {
  margin-top: 20px;

  #cancel-button {
    margin-left: 5px;
  }

  .form-actions {
    margin-bottom: 0px;
  }
}

#txns {
  .currency {
    text-align: right;
  }
}
