.page-header {
  margin-top: 18px;

  .gravatar {
    margin-left: 10px;
  }
}

#new_txn {
  margin-top: 18px;

  #cancel-button {
    margin-left: 5px;
  }

  .form-actions {
    margin-bottom: 0px;
  }
}

#txns, .accounts {
  tr.reconciled {
    background: $grayLighter;
    color: $grayLight;
  }

  td {
    vertical-align: middle;
  }

  .currency {
    text-align: right;
  }

  .reconcile form {
    vertical-align: middle;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .reconcile input {
    vertical-align: middle;
    margin-top: 0;
  }

  .icon-edit {
    padding-right: 5px;
  }
}

.accounts {
  .gravatar {
    margin-right: 6px;
  }
}
